$base-font-size: 1em;
$spacing-unit:     30px !default;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "syntax-highlighting";
@import "mui/mui";

body {
  background-color: mui-color('purple', '700');
}
